.changepw-container {
    margin-top: -100px;
    background-color: white;
    width: 750%;
    height: 730px;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.changepw-container h2 {
    margin-top: 30px;
}
.changepw-title {
    margin-bottom: 10px;
}

.changepw-title strong {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-left: 40px;
    font-weight: bolder;
}

.changepw-context-container div {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.changepw-context-container button {
    width: 400px;
    text-align: center;
    font-size: small;
    height: 40px;
    cursor: pointer;
    margin-top: 50px;
}

.changepw-context-container button:active {
    background-color: skyblue;
}
.changepw-context-container button:hover {
    transition: opacity 0.5s ease;
    opacity: 0.7;
}
.changepw-context-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 50px;
}
.changepw-context-container label {
    width: 200px; 
    text-align: right; 
    margin-right: 30px; 
}
.changepw-context-container input {
    width: 300px; 
    height: 30px;
    margin-right: 120px;
    border-radius: 7px;
    border-color: transparent;
    background-color: rgba(170, 170, 170, 0.1);
    color: black;
}