.content-container {
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  width: 1000px;
}

.content-box {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .video-description-wrapper {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-left: 20px;
  }
  
  
  .video-box {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .description-box {
    margin-left: 20px;
    margin-top: -10px;
  }
  .description-box a {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }

  .description-box a:hover {
    color: gray;
  }
  
  @media screen and (max-width: 735px) {
    .description-box p {
      display: none;
    }
  }