.ddd {
    width: 30%;
    border-radius: 5px;
    padding: 1% 0 1% 0;
    
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    
}
.input-container input {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}



.idfield {
    width: 30%; 
    padding: 2%; 
    margin-bottom: 3px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-sizing: border-box; 
}
.idradio,
.idradio2 {
 margin-bottom: 2%;
 border: 1px solid #c1c0c0;
 cursor: pointer;
 width: 35%;
 height: 35%;
 border-radius: 8px;
 padding-left: 4%;
 padding: 1.8%;
 font-size: 15px;
 background-color:  #ffffff;
 color: #9e9e9e;
 font-weight: bold;
}
.idradio input[type="radio"],
.idradio2 input[type="radio"] {
  
    display: none;  
}
.idemail{
    display: flex;
    margin-bottom: -12%;
    
}
.idfieldname{
    width: 28%; 
    padding: 3%; 
    margin: 6% 0 3.5% 0; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-sizing: border-box; 
}
.idfield2{
    width: 44%; 
    padding: 3%;
    margin-bottom: 60px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-sizing: border-box; 
}
.fieldbtt{
    margin-left: 20px;
    width: 46%;
    height: 3%;
    font-size: 15px;
    background-color: #848383;
    border-radius: 8px;
}
.fieldbtt1{
    margin-left: 5%;
    width: 18%;
    height: 10%;
    font-size: 15px;
    background-color: #848383;
    border-radius: 8px; 
}
.phoneinzzm{
    width: 30%; 
    padding: 3%; 

    border: 1px solid #ccc;
    border-radius: 8px; 
    box-sizing: border-box; 
    margin: 1% 0 0 33%;
}
.inzzm{
    width: 30%; 
    padding: 3%;

    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; 
    margin: 1% 0 0 35%;
}
.golgol{
    margin: 0 1% 0 1% ;
}

.idbttckck{
    width: 45%;
    margin: 8% 0 0 33%;
    background-color: rgb(189, 92, 92);
    
}

.idbox{
    width: 100%;
    background-color: #fff;
    padding: 55px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:1% auto;
}

.idididid{
    font-size: 35px;
    margin-top: 8%;
    font-weight: 100;
}


.idradio2 input[type="radio"]:checked + label,
.idradio input[type="radio"]:checked + label {
    color: rgb(0, 0, 0); 
    font-weight: bold;
    font-size: 16px;
}
