<<<<<<< HEAD
.main-container {
  text-align: center; 
  margin-top: 2%; 
}
.section-description {
  margin-top: 2%; 
  margin-bottom: 1%;
}

.button-container {
  margin-top: 2%; 

}
.mainbtt {
  background-color: #ffffff;
  padding: 10px 5% 10px 5%; 
  border: 1px solid #848383;
  border-radius: 5px; 
  width: fit-content;
  margin: 0 auto;
}

.button-container button {
  margin: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: 1px solid #ffffff; 
  border-radius: 5px; 
  background-color: #ffffff;
  cursor: pointer; 
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.button-container button:hover {
  color: #6b5e5e;
}
.button-container button.active {

  color: #6b5e5e;
  border: 1px solid #ffffff;
}
.sul1 {
  width: 80%; 
  padding: 1% 10% 1% 10%; 
  background-color: rgb(240, 239, 239);
  color: rgb(0, 0, 0);
  
  margin: 0 auto; 
  
}
.sul2 {
  width: 39%; 
  padding: 1% 10% 1% 10%; 
  background-color: rgb(240, 239, 239);
  color: rgb(0, 0, 0);
  margin: 0 auto; 
=======
body {
  background-color: whitesmoke;
}
.section {
    position: relative;
    text-align: right;
    margin-bottom: 20px;
  }
  
  .section img {
    margin-right: 10px;
    margin-top: 50px;
    width: 50%;
    height: 700px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .section button {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #1877F2;
    color: #fff;
    padding: 10px 20px; 
    font-size: 16px;
    border: none; 
    border-radius: 60px;
    cursor: pointer;
  }
>>>>>>> a3bd1bdcdeca36b63643270293839d933d6338a2
  
}

.sul11{
  font-weight: bold;
}