 .myinfo-container {
     background-color: white;
     width: 50%;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     margin-left: 5%;
     margin-top: -100px;
 }

 @media only screen and (max-width: 1100px) {
    .myinfo-container {
        width: 130%;
        margin-top: 10px;
    }

    .myinfo-context-container input {
        width: 100%;
        margin-right: 0;
    } 
}

 .myinfo-title {  
     margin-bottom: 10px;
     margin-top: 10%;
 }
 

 .myinfo-title strong {
     text-align: left;
     font-size: 28px;
     margin-left: 40px;
     font-weight: bolder;
 }

 .myinfo-context-container div {
     text-align: left;
     margin-top: 60px;
     margin-bottom: 30px;
     margin-left: 50px;
     display: flex;
 }

 .myinfo-context-container button {
     width: 70px;
     text-align: center;
     font-size: small;
     height: 40px;
     margin-left: 20px;
     cursor: pointer;
 }

 .myinfo-context-container button:active {
     background-color: skyblue;
 }

 .myinfo-context-container input {
     width: 300px;
     height: 30px;
     margin-left: 20px;
     border-radius: 7px;
     border-color: transparent;
     background-color: rgba(170, 170, 170, 0.1);
     color: black;
 }

 input:focus {
     outline: none
 }

 .myinfo-context-container input::placeholder {
     color: gray;
 }

 /* 내 정보 페이지 끝*/
