
.mypage {
  margin-top: 250px;
}
.sidebar {
    position: absolute;
    float: left;
    background-color: #1877F2;
    height: 100vh !important;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    opacity: 0.9;

  }
  
  .sidebar-title h2 {
    color: white;
    font-size: xx-large;
    text-align: left; 
    margin-top: 50px;
    user-select: none;
    margin-bottom: 70px;
    margin-left: 20px;
  }
  .sidebar-menu li span{
    margin-left: 20px;
  }
  
  .content {
    position: relative;
    margin-left: 15%;
    float: center;
    margin-top: -50px;
    padding: 10px 50px;
  }
  
  .sidebar ul {
    color: white;
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    color: rgb(253, 253, 253);
    margin-top: 40px;
    cursor: pointer;
  }

  .sidebar ul li:hover {
    color: lightgray;
  }
  
  li.active {
    font-weight: bold;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    margin-top: 30px;
  }

  .logo-container span {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .logo-container img {
    cursor: pointer;
    margin-right: 10px;
    width: 30px;
    height: 30px;  
  }

  .logo-bottombar p {
    margin-top: 30px;
    border-bottom: 1px solid whitesmoke;
    opacity: 0.3;
  }
