
.qna-page {
  display: flex;
  
}
.qna-nav-ALL{
  padding: 20px 20px;
  
  font-weight: bold;
  font-size: 22px;
  background-color: #00487c; 
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
.aaaaaa {
  color: #0f1813; 
  margin-bottom: 50px; 
  font-weight: bold;
  font-size: 40px;
}
.qna-nav-item{
  padding: 15px 10px;
  border-radius: 10px;
  margin-top: 10px;
  color: rgb(74, 73, 73);
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
}
.qna-nav-item-Q{
  margin-top: 10px;
  padding: 15px 20px;
  margin-right: 0px;
  background: #71bdf3;
  color: #000000; 
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}
.qna-nav-item-S,
.qna-nav-item-A{
  padding: 10px;
  margin-left: 5px;
  margin-right: 0px;
  border-radius: 0 20em 20em 0;
  
}
.qna-nav-item:hover {
  background: #71bdf3;
  color: #000000; 
}


.qna-navigation {
  flex-direction: column;
  position: absolute;
  display: flex;
  margin: 15% 0 0  15%;
  border-radius: 8px;

  width: 180px; 
  background-color: #eeecec;
}
.bottom{
  padding-bottom: 40px;
}


.qna-header {
  margin-left: 130px; 
  text-align: center;
}

.qna-content {
  
  margin: 120px auto 10px; 
  width: 50%;
  margin-left: 580px;
}
.qna-options{
  margin-top: 100px;
  margin-left: 15%;
}

.qna-button{
  background: #71bdf3;
  padding: 6px 15px;
  font-size: 18px;
  border-radius: 7px;
}

.qna-write-button{
  margin-top: 20px;
  margin-left: 850px;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 7px;
  background: #71bdf3;
}


.qna-select,
.qna-search,
.qna-button{
  margin-right: 10px;
}

.qna-options .qna-select {
  font-size: 16px; 
  padding: 10px; 
  margin-right: 10px; 
  border-radius: 10px;
}

.qna-options .qna-search {
  font-size: 16px;
  padding: 10px;
  width: 450px; 
  border-radius: 4px;
}

.qna-content th {
  font-weight: bold; 
  font-size: 1px; 
}

.qna-content td {
  font-size: 20px; 
  
}


.qna-content table {
  width: 100%;
  border-collapse: collapse; 
}

.qna-content th,
.qna-content td {
  padding: 1px; 
  text-align: center; 
  border: none; 
}

.qna-content th {
  background-color: #ffffff; 
}


.qna-content td {
  border-top: 1px solid #ddd; 
}

.qna-content tr:last-child td {
  border-bottom: 2px solid #ddd; 
}

.qna-content th{
  border-top: 3px solid #000000; 
  font-size: 24px;
  padding: 20px;
}

.pagebtt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagebtt button {
  margin: 10px 5px;
  padding: 5px 15px;
  background-color: #71bdf3;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  
}

.pagebtt button:hover {
  background-color: #686666;
}

@media only screen and (max-width: 768px) {
  .qna-navigation {
    top: 50px;
    left: -30px;
    width: 100%;
    text-align: center;
  }
  .qna-options{
    margin-top: 350px;
  }
  .qna-header {
    margin-left: 0;
  }

  .qna-content {
    margin-left: 0px;
    margin-top: -50px;
    margin-right: auto;
    width: 40%;
    
  }
  .pagebtt{
    margin-left: 180px;
  }
}

@media only screen and (max-width: 600px) {
  .qna-content th,
  .qna-content td {
    font-size: 10px;
  }
}


@media only screen and (max-width: 500px) {
  .qna-nav-item,
  .qna-nav-item-Q,
  .qna-nav-item-S,
  .qna-nav-item-A {
    padding: 10px;
    font-size: 14px;
  }

}
