.faq-item {
    margin-bottom: 20px;
    width: 33%;
    padding-top: 10px;
    margin-left: 800px;

  }
  
  .faq-question,
  .faq-answer {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .faq-answer:hover,
  .faq-question:hover {
    background-color: #f0f0f0;
  }
  
  .page5555{
    padding-bottom: 30px;
  }
  
  .faq-answer.visible {
    display: block;
  }
  