.faq-item {
    margin-bottom: 20px;
    width: 33%;
    padding-top: 10px;
    margin-left: 45%;

  }

  .faq-question,
  .faq-answer {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .faq-answer:hover,
  .faq-question:hover {
    background-color: #f0f0f0;
  }
  
  .page5555{
    padding-bottom: 30px;
  }
  
  .faq-answer.visible {
    display: block;
  }
  @media only screen and (max-width: 600px) {
   
    .faq-item{
      font-size: 10px;
      margin-left: 24%;
      width: 270px;
    }
  }
  @media only screen and (max-width: 300px) {
   
    .faq-item{
      font-size: 10px;
      margin-left: 0%;
      width: 270px;
    }
  }