.nav-pills-step {
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
  align-items: center; 
}

.nav-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-item.active {
  background-color: #3a3a4a;
  color: white;
}

.num {
  margin-right: 5px;
}

.section2-title{
  border-bottom: 2px solid rgb(122, 120, 120);
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
}

.signup-info {
  width: 500px;
  margin: auto;
  text-align: left;
}

.signup-info div{
  border-bottom: 1px solid rgb(122, 120, 120);
  padding-bottom: 12px;
}

.Section2-container {
  margin-bottom: 10px;
}

.Section2-field {
  margin-top: 3px;
  width: 450px;
  padding: 18px;
  height: 23px;
}

.select-field1{
  padding:15px;
  margin: 5px 0 10px 5px;
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid rgb(148, 148, 148);
}

.select-field {
  padding:15px;
}

.error-message {
  color: red;
}

.Section2-field,
.select-field {
  margin-right: 0px;
}

.select-field {
  margin-left: 5px; 
}

/**/
.gender-container {
  display: flex;
  justify-content: center;
}

.gender-container label {
  margin-right: 20px;
}

.gender-container input[type="radio"] {
  display: none;
}

.gender-container input[type="radio"] + label {
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.gender-container input[type="radio"]:checked + label {
  background-color: #3a3a4a;
  color: white;
}



.Section2-field {
  border-radius: 20px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  outline: none; 
}

.input-email {
  border-top-left-radius: 20px; 
  width: 303px;
  border-bottom-left-radius: 20px; 
}

.select-field {
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.next-button {
  background-color: rgb(189, 92, 92);
  color: rgb(255, 255, 255); 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
  margin-top: 20px;
}




/* .next-button:hover {
  background-color: rgb(189, 92, 92); 

/* 
  .type-radio {
   margin-bottom: 1%;
   margin-left: 50%;
   border: 1px solid #c1c0c0;
   cursor: pointer;
   width: 10px;
   height: 10px;
   border-radius: 8px;
   padding: 20px;
   font-size: 15px;
   background-color:  #ffffff;
   color: #9e9e9e;
   font-weight: bold;
  } */
  
  .type-radio1,
  .type-radio,
  .gender-radio,
  .gender-radio1{
    border: 1px solid #c1c0c0;
    border-radius: 8px;
    font-size: 25px;
    color: #2f2f2f;
 
    background-color:  #ffffff;
    width: 100px;
    height: 40px;
  }
.typeradio-container,
.genderradio-container{
  display: flex;
}
.type-radio1,
.gender-radio1{
  
  margin-left: 44%;
}
.type-radio,
.gender-radio{
  margin-left: -42%;
}
  .gender-radio input[type="radio"]:checked + label,
  .type-radio input[type="radio"]:checked + label {
    color: rgb(0, 0, 0); 
    font-weight: bold;
    font-size: 16px;
  }



@media only screen and (max-width: 600px) {
  .gender-radio, .type-radio {
    display: block;
    margin-bottom: 10px;
  }

  .gender-radio label, .type-radio label {
    display: inline-block;
    margin-right: 10px;
  }
}


@media only screen and (max-width: 830px) {
  .type-radio1,
  .gender-radio1{
    
    margin-left: 300px;
  }
  .type-radio,
  .gender-radio{
    margin-left: -30%;
  }
}
@media only screen and (max-width: 700px) {
  .type-radio1,
  .gender-radio1{
    
    margin-left: 170px;
    font-size: 22px;
  }
  .type-radio,
  .gender-radio{
    margin-left: -30%;
    font-size: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .type-radio1,
  .gender-radio1{
    
    margin-left: 30px;
    font-size: 22px;
  }
  .type-radio,
  .gender-radio{
    margin-left: -15%;
    font-size: 22px;
  }
}

@media only screen and (max-width: 480px) {
  .type-radio1,
  .gender-radio1{
    
    margin-left: 30px;
    font-size: 22px;
  }
  .type-radio,
  .gender-radio{
    margin-left: -15%;
    font-size: 22px;
  }
}
@media only screen and (max-width: 250px) {
  .type-radio1,
  .gender-radio1{
    
    margin-left: -10px;
    font-size: 22px;
  }
  .type-radio,
  .gender-radio{
    margin-left: 1%;
    font-size: 22px;
  }
}